apiVersion: v1
kind: Service
metadata:
  name: spring-app
  namespace: spring-app
spec:
  type: LoadBalancer
  selector:
    app: spring-app
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8082
